@using MBR.Web;
@using MBR.Models;
@{
    User User = System.Web.HttpContext.Current.Session[MBR.Web.Constants.SESSION_USERID] as User;
    string UserName = User == null ? string.Empty : User.RealName;

    Dictionary<int, MBR_Pool> MBRPools = ViewBag.MBRPools as  Dictionary<int, MBR_Pool>;
    if (MBRPools == null){
        MBRPools = new Dictionary<int, MBR_Pool>();
    }
    
    MBR_Pool CurrentMBRPool = ViewBag.CurrentMBRPool as MBR_Pool;
    if (CurrentMBRPool == null)
    {
        CurrentMBRPool = new MBR_Pool();
    }
    String PoolName = CurrentMBRPool.PoolName ?? String.Empty;
    string pattern = @"(\d+)#";
    System.Text.RegularExpressions.MatchCollection matches = System.Text.RegularExpressions.Regex.Matches(PoolName, pattern);

    if(matches != null && matches.Count > 0)
    {
        PoolName = matches[0].Value;
    }

    String PoolUrl = Request.Url.AbsolutePath;

    String NewQueryString = string.Empty;
    System.Collections.Specialized.NameValueCollection UrlParams = Request.QueryString;
    foreach(var item in UrlParams.AllKeys)
    {
        if (!item.Equals(Constants.MBR_POOL_PARAM_NAME))
        {
            NewQueryString += string.Format("{0}={1}&", item, UrlParams[item]);
        }
    }
    if (!string.IsNullOrEmpty(NewQueryString)) 
    {
        NewQueryString = NewQueryString.Substring(0, NewQueryString.Length - 1);
        PoolUrl += "?" + NewQueryString;
    }
    //System.Diagnostics.Debugger.Break();
}
<header class="main-header">
    <a href="#" class="logo">
        <span class="logo-mini"><b>@MBR.Web.Constants.PRODUCT_SHORT_NAME</b></span>
        <span class="logo-lg">@MBR.Web.Constants.PRODUCT_NAME</span> 
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-building"></i>
              <span class="label label-success">@PoolName</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">请选择生产线</li>
              <li>
                <ul class="menu">
                    @foreach (var item in MBRPools.Values)
                    {
                        var tempUrl = PoolUrl;
                        if (tempUrl.IndexOf("?") > -1)
                        {
                            tempUrl += "&";
                        }
                        else
                        {
                            tempUrl += "?";
                        }
                        if (tempUrl.IndexOf(Constants.MBR_POOL_PARAM_NAME) == -1)
                        {
                            tempUrl += Constants.MBR_POOL_PARAM_NAME + "=" + item.PoolID;
                        }
                    <li>
                        <a href="@tempUrl">
                          @item.PoolName
                        </a>
                    </li>
                    }
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">目前您没有提醒</li>
              <li>
                <ul class="menu"></ul>
              </li>
              <li class="footer"><a href="#">查看所有</a></li>
            </ul>
          </li>

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="~/Content/img/avatar.png" class="user-image" alt="User Image">
              <span class="hidden-xs">@UserName</span>
            </a>
            <ul class="dropdown-menu">
        
              <li class="user-header">
                <img src="~/Content/img/avatar.png" class="img-circle" alt="User Image">

                <p>
                  @UserName
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="@Url.Action("ModifyPass", "User")" target="_blank" class="btn btn-default btn-flat">个人资料</a>
                </div>
                <div class="pull-right">
                  <a href="@Url.Action("LogOff", "Account")" class="btn btn-default btn-flat">退出</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
</header>
