@model MES.Models.Role
@{
    Layout = "~/Views/Shared/_Edit_Layout.cshtml";
}
@section header{
    <link href="~/plugins/jstree/themes/default/style.min.css" rel="stylesheet">
}
@using (Ajax.BeginForm("Create", "Role", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
}, new { @class = "form-horizontal", id = "frmEdit" }))
{
    @Html.Hidden("ModuleIds", "")
    @Html.Hidden("Status", 1)
    <div class="form-body">
        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FullName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Note, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Note)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">角色权限</label>
            <div class="col-xs-9">
                <div id="treeModule"></div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/plugins/jstree/jstree.min.js"></script>
    <script>
        $(function () {
            var GetModuleTreeUrl = '@Url.Action("GetModuleTree","Module")';
            $.getJSON(GetModuleTreeUrl, function (json) {
                $('#treeModule').jstree({
                    'plugins': ["checkbox"],
                    "core": {
                        "data": json
                    }
                });
            });

        });

        function SetValues() {
            var checkedArr = $('#treeModule').jstree().get_checked();
            $('#ModuleIds').val(checkedArr);
        }

        function OnSuccess(data) {
            parent.doSuccess(parent.$('#tbRole'), data.message);
        }

        function OnFailure(data) {
            parent.doFailure(data.message);
        }
    </script>
}
