@model MBR.Models.Knowlege
@{
    Layout = "~/Views/Shared/_Edit_Layout.cshtml";
}
@using (Ajax.BeginForm("Edit", "Knowlege", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
}, new { @class = "form-horizontal", id = "frmEdit" }))
{
    @Html.HiddenFor(m => m.KnowlegeID)
    <div class="form-body">
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.KeyWords, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.KeyWords, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.KeyWords)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = "8" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Author, new { @class = "control-label col-xs-2" })
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Author)
            </div>
            @Html.LabelFor(m => m.UpdateTime, new { @class = "control-label col-xs-2" })
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.UpdateTime, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(m => m.UpdateTime)
            </div>
        </div>
    </div>
}
@section header{
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
}
@section scripts{
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/plugins/bootstrap-wysihtml5/locales/bootstrap-wysihtml5.zh-CN.js"></script>
    <script>
        $(function () {
            $('#Content').wysihtml5({
                locale: "zh-CN", 
                toolbar: {
                    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                    "emphasis": true, //Italics, bold, etc. Default true
                    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                    "html": true, //Button which allows you to edit the generated HTML. Default false
                    "link": false, //Button to insert a link. Default true
                    "image": true, //Button to insert an image. Default true,
                    "color": false, //Button to change color of font  
                    "blockquote": true, //Blockquote  
                    "size": 'none' //default: none, other options are xs, sm, lg
                }
            });
        })

        function OnSuccess(data) {
            parent.doSuccess(parent.$('#tbKnowlege'), data.message);
        }

        function OnFailure(data) {
            parent.doFailure(data.message);
        }
    </script>
}
